@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    height: 6800px;
    background: linear-gradient(170deg, #188158 1.6%, #0CA61F 36.21%, #59E05D 58.24%, #69FF75 79.19%, #85F69F 92.23%), linear-gradient(170deg, #188158 1.6%, #0CA61F 36.21%, #59E05D 58.24%, #69FF75 79.19%, #85F69F 92.23%);
    font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
	max-width: 1200px;
    height: 100vh;
	padding: 0 15px;
	margin: 0 auto;
}

.container2 {
	width: 100%;
	max-width: 1200px;
    height: 600px;
	padding: 0 15px;
	margin: 0 auto;
    background:#09392D;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header {
	width: 100%;
	padding-top: 30px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	height: 50px;

}

.header_logo p {
    color: #fff;
    border-left: 3px solid #fff;   
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
    border-radius: 30px;
    background: url(../images/задний\ фон\ 2.jpg);
}

.nav {
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
    text-align: center;
	font-weight: 700;
	padding-left: 200px;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;
	color: #fff;
	text-decoration: none;
	transition: color .1s linear;
    padding-top: 15px;
}

.nav__link:after {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	opacity: 0;


	background-color: #fff;

	position: -webkit-sticky;

    position: sticky;

    top: 0;

	left: 0;
	z-index: 1;
	transition: opacity .1s linear;
}

.nav__link:hover {
	color: #C0C0C0;
}

.nav__link:hover:after {
	opacity: 1;

}

.list-inline {
    list-style: none;
    margin-left: -3em;
    margin-right: -0.5em;
    padding: 0;
  }
  
  .list-inline > li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  
  .list-inline > li:before {
    content: "\200B"; /* 1 */
    position: absolute; /* 2 */
  }

.intro__inner {
    display: block;
}

.intro__inner h1{
    color: #fff;
    text-align: right;
    font-size: 30px;
    width: 50%;
    float: right;
}

.human {
    margin-top: 100px;
}

.button {
    float: right;
    font-family: 'Montserrat', sans-serif;
    width: 450px;
    height: 130px;
    font-size: 35px;
    border-radius: 20px;
    background: linear-gradient(108deg, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0.07) 100%);
    backdrop-filter: blur(10px);
    border: none;
    font-weight: 700;
    color: #fff;
    border-radius: 30px;
}

.button:hover {
    background: #fff;
    color: #0CA61F;
    transition: 1s;
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.button:active {
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1)inset;
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1)inset;
}

.container2 h1 {
    width: 1000px;
}